---
import styles from "./ColorMode.module.scss";
---

<div class={styles.buttonBox}>
  <button class={styles.toggleButton} type="button" id="toggleLightMode">
    <div class={styles.lightMode}></div>
  </button>
  <button class={styles.toggleButton} type="button" id="toggleDarkMode">
    <div class={styles.darkMode}></div>
  </button>
</div>
<script>
  const colorMode = window.localStorage.getItem("color-mode");

  if (colorMode === "light" || colorMode === "dark") {
    document.body.setAttribute("color-mode", colorMode);
  }

  const setColorModeLight = () => {
    document.body.setAttribute("color-mode", "light");
    localStorage.setItem("color-mode", "light");
  };
  document.getElementById("toggleLightMode")!.addEventListener("click", setColorModeLight);

  const setColorModeDark = () => {
    document.body.setAttribute("color-mode", "dark");
    localStorage.setItem("color-mode", "dark");
  };
  document.getElementById("toggleDarkMode")!.addEventListener("click", setColorModeDark);
</script>
