---
import LinkIcons from "./link_icons/LinkIcons.astro";
import styles from "./ArticleHeader.module.scss";
import Tag from "./tag/Tag.astro";

type Props = {
  title: string;
  tags: string[];
  repoUrl: string | undefined;
  youtubeUrl: string | undefined;
  websiteUrl: string | undefined;
  date: string;
};

const { title, tags, repoUrl, youtubeUrl, websiteUrl, date } = Astro.props;
---

<div class={styles.articleHeaderContainer}>
  <div class={styles.articleHeader}>
    <div class={styles.tagContainer}>
      {tags?.map((tag) => <Tag tag={tag} />)}
    </div>
    <h1>{title}</h1>
    <div class={styles.additionalInfo}>
      <LinkIcons repoUrl={repoUrl} youtubeUrl={youtubeUrl} websiteUrl={websiteUrl} />
      <p>
        {date}
      </p>
    </div>
  </div>
</div>
