---
import styles from "./ThirdMessage.module.scss";
---

<div class={styles.message}>
  <!-- <a href="/about" class={styles.category}>
    <p>
      <strong>About me</strong>
    </p>
    <p>kanakanho / しばいぬ について</p>
  </a> -->
  <!-- <a href="/works" class={styles.category}>
    <p>
      <strong>Works</strong>
    </p>
    <p>これまでの活動</p>
  </a> -->
  <a href="/posts" class={styles.category}>
    <p>
      <strong>Posts</strong>
    </p>
    <p>技術記事や活動ブログ</p>
  </a>
  <a href="/contact" class={styles.category}>
    <p>
      <strong>Contact</strong>
    </p>
    <p>お問い合わせ</p>
  </a>
  <a href="/contact" class={styles.category}>
    <p>
      <strong>Links</strong>
    </p>
    <p>リンク集</p>
  </a>
</div>
