---
import styles from "./ThirdMessage.module.scss";
---

<div class={styles.message}>
  <div class={styles.category}>
    <p>
      <strong>About me</strong>
    </p>
    <p>kanakanho / しばいぬ について</p>
  </div>
  <div class={styles.category}>
    <p>
      <strong>Works</strong>
    </p>
    <p>これまでの活動</p>
  </div>
  <div class={styles.category}>
    <p>
      <strong>Posts</strong>
    </p>
    <p>技術記事や活動ブログ</p>
  </div>
  <div class={styles.category}>
    <p>
      <strong>Contact</strong>
    </p>
    <p>お問い合わせ</p>
  </div>
</div>
