---
import ColorMode from "./color_mode/ColorMode.astro";
import styles from "./Header.module.scss";

type Props = {
  navigate: string;
};

const { navigate } = Astro.props;
---

<header class={styles.header}>
  <a href="/" class={styles.mainName}>
    <h1>kanakanho&nbsp;/&nbsp;しばいぬ</h1>
  </a>
  <a href="/about" class:list={[navigate === "about" ? styles.open : "", styles.about]}>
    <p>About me</p>
  </a>
  <a href="/works" class:list={[navigate === "works" ? styles.open : "", styles.works]}>
    <p>Works</p>
  </a>
  <a href="/posts" class:list={[navigate === "posts" ? styles.open : "", styles.posts]}>
    <p>Posts</p>
  </a>
  <a href="/contact" class:list={[navigate === "contact" ? styles.open : "", styles.contact]}>
    <p>Contact&nbsp;/&nbsp;Links</p>
  </a>
  <a href="https://github.com/kanakanho" class={styles.link}>
    <div class={styles.svgImage}></div>
  </a>
  <div class={styles.colorMode}>
    <ColorMode />
  </div>
</header>
