---
import styles from "./LinkCards.module.scss";
---

<div class={styles.cardContainer}>
  <a href="https://x.com/@Shiba_ao_">
    <div class={styles.linkCard}>
      <p class={styles.linkName}>X&nbsp;(Twitter)</p>
      <div class:list={[`${styles.svgImage}`, `${styles.x}`]}></div>
      <p class={styles.accountName}>@Shiba_ao_</p>
    </div>
  </a>
  <a href="https://github.com/kanakanho">
    <div class={styles.linkCard}>
      <p class={styles.linkName}>GitHub</p>
      <div class:list={[`${styles.svgImage}`, `${styles.github}`]}></div>
      <p class={styles.accountName}>kanakanho</p>
    </div>
  </a>
  <a href="https://qiita.com/kanakanho">
    <div class={styles.linkCard}>
      <p class={styles.linkName}>Qiita</p>
      <div class:list={[`${styles.svgImage}`, `${styles.qiita}`]}></div>
      <p class={styles.accountName}>@kanakanho</p>
    </div>
  </a>
  <a href="https://zenn.dev/kanakanho">
    <div class={styles.linkCard}>
      <p class={styles.linkName}>Zenn</p>
      <div class:list={[`${styles.svgImage}`, `${styles.zenn}`]}></div>
      <p class={styles.accountName}>kanakanho</p>
    </div>
  </a>
  <a href="https://www.youtube.com/@kanakanho">
    <div class={styles.linkCard}>
      <p class={styles.linkName}>YouTube</p>
      <div class:list={[`${styles.svgImage}`, `${styles.youtube}`]}></div>
      <p class={styles.accountName}>@kanakanho</p>
    </div>
  </a>
</div>
